.Units .degree,
.units {
  font-size: 50px;
}

.Units .weather-temperature .active {
  color: black;
  text-decoration: none;
}

.Units weather-temperature .active:hover {
  cursor: default;
  text-decoration: none;
}

.Units #fahrenheit-unit,
#celsius-unit {
  text-decoration: none;
}
